body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------- Header Section ------------------------------------------*/
.headerphoto {
    width: 350px;
}
.header {
    display: flex;
    justify-content: center;
    gap: 525px;
    padding: 10px 0;
}
ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
}
.headerbutton {
    padding: 4px 25px;
    margin: 8px 0;
    border-radius: 7px;
    background: #3888f6;
    color: #f9fAf8;
    font-size: 15px;
    border-color: #3888f6;
}
.headerlogo {
    font-size: 24px;
    color: #f9fAf8;
}
.headercontainer {
    height: 480px;
    background: #1f2937;
    display: flex;
    flex-direction: column;
}
.herocontainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 98px;
}
.heroheader {
    font-size: 48px;
    color: #f9faf8;
}
.herotext {
    width: 400px;
    font-size: 18px;
    font-weight: 300;
    color:#e5e7eb;
}
/* -------------------------------- Information Section -------------------------------------- */
.infocontainer {
    display: flex;
    justify-content: center;
    gap: 44px;
    height: 380px;
}
.infoheader {
    text-align: center;
    margin: 30px 0;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}
.pt {
    width: 180px;
    height: 180px;
    border: 3px solid #3888f6;
    border-radius: 10px;
}
.ptcontainer {
    width: 180px;
    font-size: small;
}
.pttext {
    font-weight: 300;
    margin-top: 4px;
}
.cf {
    width: 180px;
    height: 180px;
    border: 3px solid #3888f6;
    border-radius: 10px;
}
.cfcontainer {
    width: 180px;
    font-size: small;
}
.cftext {
    margin-top: 4px;
    font-weight: 300;
}
.yg {
    width: 180px;
    height: 180px;
    border: 3px solid #3888f6;
    border-radius: 10px;
}
.ygcontainer {
    width: 180px;
}
.ygtext {
    margin-top: 4px;
    font-weight: 300;
    font-size: small;
}
.mt {
    width: 180px;
    height: 180px;
    border: 3px solid #3888f6;
    border-radius: 10px;
}
.mtcontainer {
    width: 180px;
}
.mttext {
    margin-top: 4px;
    font-size: small;
    font-weight: 300;
}
/* ------------------------------------ Quote Section -------------------------------------- */
.quotecontainer {
    height: 350px;
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote {
    font-size: 36px;
    font-style: italic;
    width: 800px;
    color: #1f2937;
    display: flex;
}
.name {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.qtcontainer {
    display: flex;
    flex-direction: column;
}
/* ----------------------------------- Call To Action Section --------------------------- */
.actioncontainer {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action {
    font-size: 18px
}
.signcontainer {
    border-radius: 5px;
    background-color: #3888f6;
    color: #f9fAf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 100px;
}
.todaycontainer {
    display: flex;
    gap: 60px;
}
.signbutton {
    background: #3888f6;
    border-color: #f9fAf8;
    border-radius: 8px;
    font-size: 15px;
    color: #f9fAf8;
    padding: 3px 20px;
}
.today {
    font-size: 13px;
    font-weight: 100;
}
/*------------------------------------------ Footer Section --------------------------------------*/
footer {
    background: #1f2937;
    color: #f9fAf8;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 100;
}